// Run with docker
docker.enabled=true

// Params for multiqc config
params.multiqc = "$baseDir/multiqc"

//Include readMapping modules config
includeConfig 'modules/readMapping/readMapping.config'

profiles {
    crg {
        process {
          executor='crg'
          queue='cn-el7'
          memory='16G'
          cpus='12'
          scratch = true
        }
    }
}
