// **Nextflow readMapping module**
// Sailfish component configuration
//
// Commandline options taken from: `sailfish v0.10.1`
// Tested with container: `quay.io/biocontainers/sailfish:0.10.1--1`
//

// Set the default Container
params {
  modules {
    readMapping {
      sailfish {
        container = "quay.io/biocontainers/sailfish:0.10.1--1" 
      }
    }
  }
}

// Set the default commandline option
params {
  modules {
    readMapping {
      sailfish {
        quantification {
          commandlineOptions {
         // name               = [default, commandline option,    type,     description ]  
            numThreads             = [1,   '--numThreads',          'INT',   'Number of threads'] 
            useVBOpt               = [false,   '--useVBOpt',              'BOOL',   'use Variational Bayesian EM algorithm']
            numBootstraps          = [false,   '--numBootstraps',              'BOOL',   'Perform sequence based bias correction']
            numGibbsSample         = [false,   '--bias',              'BOOL',   'Perform sequence based bias correction']
          }
        }
      }
    }
  }
}

params {
  modules {
    readMapping {
      kallisto {
        index {
          commandlineOptions { 
         // name               = [default, commandline option, type,     description ]  
            kmerSize           = [31,      '--kmer-size',      'INT',    'k-mer (odd) length (default: 31, max value: 31)']
            makeUnique         = [false,   '--make-unique',    'BOOL',   'Replace repeated target names with unique names'] 
          }
        }
      }
    }
  }
}
