// **Nextflow readMapping module**
// kallisto component configuration
//
// Commandline options taken from: `kallisto v0.43`
// Tested with container: `quay.io/biocontainers/kallisto:0.43.0--hdf51.8.17_2`
//

// Set the default Container
params {
  modules {
    readMapping {
      kallisto {
        container = "quay.io/biocontainers/kallisto:0.43.0--hdf51.8.17_2" 
      }
    }
  }
}

// Set the default commandline option
params {
  modules {
    readMapping {
      kallisto {
        quantification {
          commandlineOptions {
         // name               = [default, commandline option,    type,     description ]  
            bias               = [false,   '--bias',              'BOOL',   'Perform sequence based bias correction']
            bootstrapSamples   = [0,       '--bootstrap-samples', 'INT',    'Number of bootstrap samples'] 
            seed               = [42,      '--seed',              'INT',    'Seed for the bootstrap sampling']
            plaintext          = [false,   '--plaintext',         'BOOL',   'Output plaintext instead of HDF5']
            fusion             = [false,   '--fusion',            'BOOL',   'Search for fusions for Pizzly']
            single             = [true,    '--single',            'BOOL',   'Quantify single-end reads']
            frStranded         = [false,   '--fr-stranded',       'BOOL',   'Strand specific reads, first read forward']
            rfStranded         = [false,   '--rf-stranded',       'BOOL',   'Strand specific reads, first read forward']
            fragmentLength     = [200.0,   '--fragment-length',   'DOUBLE', 'Estimated average fragment length']
            sd                 = [20.0,    '--sd',                'DOUBLE', 'Estimated standard deviation of fragment length']
            threads            = [1,       '--threads',           'INT',    'Number of threads to use']
            pseudobam          = [false,   '--pseudobam',         'BOOL',   'Output pseudoalignments in SAM format to stdout']
          }
        }
      }
    }
  }
}

params {
  modules {
    readMapping {
      kallisto {
        index {
          commandlineOptions { 
         // name               = [default, commandline option, type,     description ]  
            kmerSize           = [31,      '--kmer-size',      'INT',    'k-mer (odd) length (default: 31, max value: 31)']
            makeUnique         = [false,   '--make-unique',    'BOOL',   'Replace repeated target names with unique names'] 
          }
        }
      }
    }
  }
}
