// **Nextflow readMapping module**
// kallisto component configuration
//
// Commandline options taken from: `kallisto v0.43`
// Tested with container: `quay.io/biocontainers/kallisto:0.43.0--hdf51.8.17_2`
//


// Set the default Container
params {
  modules {
    readMapping {
      kallisto {
        execution = "quay.io/biocontainers/kallisto:0.43.0--hdf51.8.17_2" 
      }
    }
  }
}


// Set the default commandline option
readMapping {
  kallisto {
    quantification {
      commandline_options {
        bias               = false   // BOOL
        //bootstrap-samples  = 0       // INT
        seed               = 42      // INT
        plaintext          = false   // BOOL
        fusion             = false   // BOOL
        single             = false   // BOOL
        //fr-stranded        = false   // BOOL
        //rf-stranded        = false   // BOOL
        //fragment-length    = 200.0   // DOUBLE
        sd                 = 20.0    // DOUBLE
        threads            = 1       // INT
        pseudobam          = false   // BOOL
      }
    }
  }
}
