// **Nextflow readMapping module**
// Salmon component configuration
//
// Commandline options taken from: `salmon v0.8.2`
// Tested with container: `quay.io/biocontainers/salmon:0.8.2--1`
//

// Set the default Container
params {
  modules {
    readMapping {
      salmon {
        container = "quay.io/biocontainers/salmon:0.8.2--1" 
      }
    }
  }
}

// Set the default commandline option
params {
  modules {
    readMapping {
      salmon {
        quantification {
          commandlineOptions {
         // name               = [applied, default value, commandline option,    type,     description ]
            libType            = [true,    'U',           '--libType',           'STRING', 'String describing the library type']
            threads            = [false,   1,             '--threads',           'INT',    'Number of threads']
            geneMap            = [false,   'FILE',        '--geneMap',           'FILE',   'File containing a mapping of transcripts to genes']
            seqBias            = [false,   false,         '--seqBias',           'BOOL',   'Perform sequence-specific bias correction']
            gcBias             = [false,   false,         '--gcBias',            'BOOL',   'Perform GC bias correction']
            useVBOpt           = [false,   false,         '--useVBOpt',          'BOOL',   'Use Variational Bayesian EM algorithm']
            numBootstraps      = [false,   0,             '--numBootstraps',     'INT',    'Number of Bootstrap Sampling Rounds to perform']
            numGibbsSample     = [false,   0,             '--numGibbsSample',    'INT',    'Number of Gibbs Sampling Rounds to perform']
          }
        }
      }
    }
  }
}

params {
  modules {
    readMapping {
      salmon {
        index {
          commandlineOptions { 
         // name               = [applied, default value, commandline option, type,     description ]  
            kmerSize           = [false,   31,            '--kmerSize',       'INT',    'k-mer length']
          }
        }
      }
    }
  }
}
